.kusocolla {
    max-width: 1200px;
    height: 630px;
    background: red;
    position: relative;

    &__face {
        position: absolute;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    //顔-01
    .face-01 {
        width: 200px;
        height: 200px;
        top: 0;
        left: 0;
    }
    //顔-02
    .face-02 {
        width: 150px;
        height: 150px;
        top: 200px;
        left: 200px;
    }
    //顔-03
    .face-03 {
        width: 80px;
        height: 80px;
        top: 0;
        left: 400px;
    }
}